
    center{padding: 10px;}
    #min2{
      width:400px;
      text-align: left;
      
    }

    
    h1{ color: red; font-size: 38px;}
    h2{ color: blue; font-size: 32px;}
    h3{ color: green; font-size: 24px;}
    li{ color: blue; font-size: 32px;}