body {font-size : 100%;}
#center{line-height : 36px; font-size : 100%;}
.container{
  display:flex;
  flex-direction: column;
}
header{
  border-bottom:1px solid gray;
  padding-left: 20px;
  text-align: center;
}
footer{
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}
.content{
  display:flex;
  
}
.content nav{
  color: red;
  text-align: center;
  border: 1px   solid  silver;
  
}

nav {
  flex-basis: 200px;
  flex-shrink: 0;
}
main{
  padding:10px;
  width:2000px; 
}

#sub{
  height:50px;
  padding:10px;
  padding-top:20px;
  border-bottom:1px solid gray;
  }
/* Dropdown Button */
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   width: 150px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropdown:hover .dropdown-content { display: block; }
