
.container{
  display:flex;
  flex-direction: column;
}
header{
  border-bottom:1px solid gray;
  padding-left: 20px;
  text-align: center;
}
footer{
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}

nav{
  color: red;
  text-align: center;
  border: 1px   solid  rgb(240, 7, 7);
  width:350px;
  font-size : 36px;
  flex-basis: 300px;
  flex-shrink: 0;
 
}
main{
  padding:10px;
  width:80%;
  font-size : 36px;
}

.content{
  display:flex;
 }

#sub{
  font-size : 36px;
  height:80px;
  padding:10px;
  padding-top:30px;
  border-bottom:1px solid gray;
  text-align: center;
  }
#space{
  height:300px;
  border-bottom:1px solid;
  background-color: #3498DB;
}

/* Dropdown Button */
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 36px;
   border: none;
   cursor: pointer;
   width: 340px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropdown:hover .dropdown-content { display: block; }
