body{padding: 10px;}
p, code{ font-size: 24px; }
h1{ font-weight: bold; font-family: Times; color: blue; font-size: 38px; text-align: center;}
h2{ font-weight: bold; font-family:'맑은 고딕'; color: red; font-size: 32px;}
h3{ font-weight: bold; font-family:'맑은 고딕'; color: green; font-size: 28px;}
h4{ font-weight: bold; font-family:'맑은 고딕'; font-size: 24px;}
#min1{ color: green; font-size: 28px;}
#min2{ color: green; font-size: 24px; text-align: center;}
.fig{font-family:Times; font-size:30px;}
figcaption{color: darkgreen; font-size: 28px;}
#min3{font-size: 28px;}
#min4{font-family:Arial; font-size: 24px;} /* Arial 영어 폰트를 사용하면 백슬래시 '\' 가 'W' (원화)로 표시되는 것을 막는다.*/


.container{
  display:flex;
  flex-direction: column;
}
header{
  border-bottom:1px solid gray;
  padding-left: 20px;
  text-align: center;
}
footer{
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}

nav{
  color: red;
  text-align: center;
  border: 1px   solid  rgb(240, 7, 7);
  width:350px;
  font-size : 36px;
  flex-basis: 200px;
  flex-shrink: 0;
 
}
main{
  padding:10px;
  width:80%;
  font-size : 36px;
}

.content{
  display:flex;
 }

#sub{
  font-size : 36px;
  height:80px;
  padding:10px;
  padding-top:30px;
  border-bottom:1px solid gray;
  text-align: center;
  }
#space{
  height:200px;
  border-bottom:1px solid;
  background-color: #3498DB;
}

/* Dropdown Button */
.dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 36px;
   border: none;
   cursor: pointer;
   width: 200px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   cursor: pointer;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dropdown:hover .dropdown-content { display: block; }


a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
